html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.head {
    background: #ccc;
    padding-top: 50px;
    padding-bottom: 286px;
}

.head-box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.name {
  color: #010101;
  font: 700 36px Arial;
  margin: 0 auto 30px;
  
}

.info {
  color: rgba(31, 31, 31, 0.8);
  font: 400 14px Arial;
  margin-top: 24px;
  padding-bottom: 20px;
  border-bottom:solid #eee;
  text-align: left;
}

hr {
  height: 1px;
  border-left-color: black;
  margin-top: 20px
}








.list {
  
  color: #1f1f1f;
  font: 700 18px 'Arial';
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  
}







p {
  text-align: left;
  font: 'Arial' ;font-size: 14px;font: 400 14px / 18px 'arial';
}

.png {
  margin-top: 7px;
  margin-left: 16;
  margin-right: 16px;
}



.tel {
  padding-left: 32px;
  text-align: left;
}

.href {
  font-family: Arial;
  font-style: italic;
  text-align: left;
  padding-left: 32px;

}

ul {
  list-style-image: url(images/1.png); /* Путь к файлу с маркером */
}

li {
  text-align: left;
  font-family: Arial
}



div {
  text-align: left;
}

a {
  padding-left: 32px;
}



.zagolovok {
  border-top:solid #eee;
}

.profvc {
  margin-bottom: 20px
}
